<app-nav></app-nav>

<section id="hero">
    <div class="hero container py-5">
        <div class="row py-lg-5 text-center text-white">
            <div class="col-lg-8 col-md-8 mx-auto">
                <h1 class="fw-bold">Introduce Our
                    <span class="element">Creative Agency.</span>
                </h1>
                <p class="lead my-3">There are many variants of passages of
                    <span>available but the majority have suffered aletration</span>
                </p>
                <p>
                    <a href="#" class="btn btn-outline-light mx-2 cta">imroz service</a>
                    <a href="#" class="btn btn-outline-light mx-2">see projects</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="service">
    <div class="service container-fluid py-5">
        <div class="row">
            <div class="col-12 text-center">
                <span class="title">
          What we can do for you
        </span>
                <h2>Services provide for you</h2>
                <p>There are many variants of passages of Lorem Ipsum available but the majority have suffered alternation</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="card">
                    <i class="fas fa-wifi"></i>
                    <div class="card-body">
                        <h5 class="card-title">Business Strategy</h5>
                        <p class="card-text">I throw myself down among the tall grass by the stream as I lie close to the earth</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <i class="fas fa-database"></i>
                    <div class="card-body">
                        <h5 class="card-title">Website Development</h5>
                        <p class="card-text">I throw myself down among the tall grass by the stream as I lie close to the earth</p>


                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <i class="fas fa-user-friends"></i>
                    <div class="card-body">
                        <h5 class="card-title">Marketing & Reporting</h5>
                        <p class="card-text">I throw myself down among the tall grass by the stream as I lie close to the earth</p>


                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <i class="fas fa-tv"></i>
                    <div class="card-body">
                        <h5 class="card-title">Mobile App Development</h5>
                        <p class="card-text">I throw myself down among the tall grass by the stream as I lie close to the earth</p>


                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <i class="fas fa-user-friends"></i>
                    <div class="card-body">
                        <h5 class="card-title">Marketing & Reporting</h5>
                        <p class="card-text">I throw myself down among the tall grass by the stream as I lie close to the earth</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <i class="fas fa-tv"></i>
                    <div class="card-body">
                        <h5 class="card-title">Mobile App Development</h5>
                        <p class="card-text">I throw myself down among the tall grass by the stream as I lie close to the earth</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="project">
    <div class="project container-fluid py-5">
        <div class="row">
            <div class="col-12 text-center">
                <span class="title">
    Our Project
  </span>
                <h2>Some of our Recent Works</h2>
                <p>There are many variants of passages of Lorem Ipsum available but the majority have suffered alternation</p>
            </div>
        </div>
        <div class="row">
            <swiper [slidesPerView]="3" [spaceBetween]="10" [freeMode]="true" [pagination]="{
      clickable: true
    }" [grabCursor]="true" [loop]="true" [autoplay]="{
      delay:3000,
      disableOnInteraction: false
    }" class="mySwiper">
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=455&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">Web Design</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1620557949505-628838c69fd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Product Design</span>
                            <h2 class="text-white">App Development</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1590602847861-f357a9332bbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Design</span>
                            <h2 class="text-white">Photoshop</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1585180753283-c3ecb2d15106?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">Web Design</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1619286188088-de820bdc1230?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Product Design</span>
                            <h2 class="text-white">App Development</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1614642240262-a452c2c11724?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=411&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">Web Design</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1616597150044-1ba714f658e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Design</span>
                            <h2 class="text-white">Photoshop</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1585834343244-d8c6099665bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Product Design</span>
                            <h2 class="text-white">App Development</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1572982349962-ebcf7995ace6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">Web Design</h2>
                        </div>
                    </figure>
                </ng-template>
            </swiper>
        </div>
    </div>
</section>

<div id="growth">
    <div class="growth container-fluid py-5">
        <div class="row">
            <div class="col-12 text-center">
                <span class="title">
Exports growts
</span>
                <h2>Our Company Growth</h2>
                <p>We have grown strength over the past 20 years</p>
            </div>
        </div>
        <div class="row boxs px-2">
            <div class="box">
                <div class="icon">
                    <img src="../assets/290111_favorite_heart_like_love_valentine_icon 1 1.svg" alt="">
                </div>
                <div class="text">
                    <h2>199+</h2>
                    <span>Staticfied Customers</span>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <img src="../assets/1814097_clock_schedule_time_icon 1 1.svg" alt="">
                </div>
                <div class="text">
                    <h2> 575+</h2>
                    <span>Days of Operation</span>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <img src="../assets/2561353_check_circle_icon 1.svg" alt="">
                </div>
                <div class="text">
                    <h2>49+</h2>
                    <span>Complete Project</span>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <img src="../assets/Vector.svg" alt="">
                </div>
                <div class="text">
                    <h2>55+</h2>
                    <span>Win Awards</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="team">
    <div class="team container-fluid py-5">
        <div class="row">
            <div class="col-12 text-center">
                <span class="title">
Our exports
</span>
                <h2>Our Skilled Team</h2>
                <p>There are many variations of passages of Lorem. but the majority have suffered aletration</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 py-1">
                <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            </div>
            <div class="col-4 py-1">
                <img src="https://images.unsplash.com/photo-1599842057874-37393e9342df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            </div>
            <div class="col-4 py-1">
                <img src="https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">
            </div>
            <div class="col-4 py-1">
                <img src="https://images.unsplash.com/photo-1582610285985-a42d9193f2fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            </div>
            <div class="col-4 py-1">
                <img src="https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            </div>
            <div class="col-4 py-1 ">
                <img src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="">
            </div>
        </div>
    </div>
</div>
<div id="jogn">
    <div class="jogn container-fluid py-5">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h4>Jogn Due The standard chunk of Lorem Ipsum used since the 1500s is reproduced below the those interested. Sections Bonurum et Malorum original</h4>
                <span> <span class="text-danger"> JOGN DUE</span> - COO, AMERIMAR ENTERPRISES, INC.</span>
            </div>
            <div class="col-md-6">
                <div class="row gallery">
                    <div class="col-12 d-flex justify-content-around">
                        <figure>
                            <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        </figure>
                        <figure>
                            <img src="https://images.unsplash.com/photo-1513956589380-bad6acb9b9d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        </figure>
                        <figure>
                            <img src="https://images.unsplash.com/photo-1507101105822-7472b28e22ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80" alt="">
                        </figure>
                    </div>
                    <div class="col-12 d-flex justify-content-around">
                        <figure>
                            <img src="https://images.unsplash.com/photo-1573496527892-904f897eb744?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="">
                        </figure>
                        <figure>
                            <img src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                        </figure>
                        <figure>
                            <img src="https://images.unsplash.com/photo-1587403655231-b1734312903f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        </figure>
                    </div>
                    <div class="col-12 d-flex justify-content-around">
                        <figure>
                            <img src="https://images.unsplash.com/photo-1562788869-4ed32648eb72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="">
                        </figure>
                        <figure>
                            <img src="https://images.unsplash.com/photo-1543269664-7eef42226a21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="news">
    <div class="news container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <span class="title">
Latets News
</span>
                <h2>Latest News</h2>
                <p>There are many variations of passages of Lorem.but the majority have suffered aletration</p>
            </div>
        </div>
        <div class="row">
            <swiper [slidesPerView]="3" [spaceBetween]="10" [freeMode]="true" [pagination]="{
    clickable: true
  }" [grabCursor]="true" [loop]="true" [autoplay]="{
    delay:30000000,
    disableOnInteraction: false
  }" class="mySwiper">
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1498758536662-35b82cd15e29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">What is the Diffrence between Web and Brand.</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1574100004472-e536d3b6bacc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Product Design</span>
                            <h2 class="text-white">A big ticket gone to be an intersting look New York.</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1552960394-c81add8de6b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Design</span>
                            <h2 class="text-white">Getting tickets to the big show have a closer look.</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1579389083395-4507e98b5e67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">Web Design</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1618544976528-6fe8b8a811b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Product Design</span>
                            <h2 class="text-white">App Development</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1598257006408-538c27529235?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">Web Design</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1504643220124-8317cca212bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Design</span>
                            <h2 class="text-white">Photoshop</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1573496129661-bd7fcc7e532b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Product Design</span>
                            <h2 class="text-white">App Development</h2>
                        </div>
                    </figure>
                </ng-template>
                <ng-template swiperSlide>
                    <figure>
                        <img src="https://images.unsplash.com/photo-1633113087654-c49c686c2cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
                        <div class="content">
                            <span class="text-white">Development</span>
                            <h2 class="text-white">Web Design</h2>
                        </div>
                    </figure>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>

<div id="clients">
    <div class="clients container-fluid py-5">
        <div class="row">
            <div class="col-12 text-center">
                <span class="title">
Top Clients
</span>
                <h2>We worked with brands.</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <figure>
                    <img src="../assets/logo.png" alt="">
                </figure>
            </div>

        </div>
    </div>
</div>

<div id="contact">
    <div class="contact container-fluid py-5">
        <h2 class="text-center">Interested you <span>working with us</span>
        </h2>
        <a href="" class="btn btn-danger">CONTACT US</a>
        <hr>
        <a href="" class="navbar-brand text-white"> <img src="../assets/logo.svg" alt="" class="logo"> imroz</a>
        <div class="links">

            <i class="fi fi-facebook"></i>

            <i class="fi fi-linkedin"></i>

            <i class="fi fi-instagram"></i>

            <i class="fi fi-twitter"></i>

        </div>
        <p class="copyright">
            &copy; <span class='text-danger'>2021 Anish Themes</span> All Rights Reserved
        </p>
    </div>
</div>
