<nav class="navbar navbar-expand-lg navbar-light px-3 fixed-top" (scroll)="scrollNav()" [ngClass]="fixed? 'fixedNav':'notfixed'">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#"> <img src="../../../assets/logo.svg" alt="" class="logo"> imroz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Service</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Blocks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Contact</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-light nav-btn" type="submit">Buy Now</button>
            </form>
        </div>
    </div>
</nav>
